<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search-mapper">

<!-- SQL 쿼리문 작성 -->
<!-- 
	<insert, delete, update, select 속성="값" 속성="값", ~~>
		- id 속성 : DAO에서 설정하 값 ▶ session.insert("memberInsert", dto);
		- parameterType 속성 : 매개 변수 타임(클래스타입, 기본 데이터타입) :  생략가능
		- 입력 값 표기 : dto.getName() → #{dto 안 속성명} ▶ #{name}
		- SQL 문장의 마지막에 세미콜론(;)은 입력하지 않는다.
		- resultType 속성 : select 쿼리를 수행했을 때 결과 타입
	</insert, delete, update, select>
 -->
 <!-- id에는 DAO에서 정한 메소드 이름을 적는다. -->

	<!-- 프로젝트 조건 검색 -->
	<!-- 가져오는 컬럼이 ProjectDto -->
	<select id="searchList" resultType="ProjectDto">
		SELECT PROJECTID, USERID, PROJECTMAINTITLE, PROJECTSUBTITLE,
		THUMBIMAGE, PROJECTCATEGORY, PROJECTSTARTDATE, PROJECTENDDATE,
		SHIPPINGSTARTDATE, DETAILDESC, CREATEDAT, UPDATEDAT, ADDRESS,
		LATITUDE, LONGITUDE, PROVINCE, GOALPRICE, TOTALPRICE, SOLDCOUNT,
		LIKECOUNT
		FROM PROJECTS
		<choose>
			<when test="searchOption == 'all'">
				WHERE PROJECTMAINTITLE LIKE '%' || #{keyword} || '%'
				OR PROJECTSUBTITLE LIKE '%' || #{keyword} || '%'
				OR DETAILDESC LIKE
				'%' || #{keyword} || '%'
			</when>
			<otherwise>
				WHERE ${searchOption} LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
		ORDER BY CREATEDAT DESC
	</select>


</mapper>