<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search-mapper">


	<select id="searchList" resultType="ProjectDto">
		SELECT PROJECTID, USERID, PROJECTMAINTITLE, PROJECTSUBTITLE,
		THUMBIMAGE, PROJECTCATEGORY, PROJECTSTARTDATE, PROJECTENDDATE,
		SHIPPINGSTARTDATE, DETAILDESC, CREATEDAT, UPDATEDAT, ADDRESS,
		LATITUDE, LONGITUDE, PROVINCE, GOALPRICE, TOTALPRICE, SOLDCOUNT,
		LIKECOUNT
		FROM PROJECTS
		<choose>
			<when test="searchOption == 'all'">
            WHERE PROJECTMAINTITLE LIKE '%' || #{keyword} || '%'
            OR PROJECTSUBTITLE LIKE '%' || #{keyword} || '%'
            OR DETAILDESC LIKE '%' || #{keyword} || '%'
         </when>
			<otherwise>
				WHERE ${searchOption} LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
		ORDER BY CREATEDAT DESC
	</select>

	

</mapper>