<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commentboardmapper">
  
	<select id="selectList" resultType="CommentDto">
		SELECT COMMENTNO, GROUPNO, GROUPSEQ, TITLETAB, USERID, COMMENTCONTENT, REGDATE 
		FROM COMMENTBOARD
		WHERE FREEBOARDSEQ = #{freeboardseq}
		ORDER BY COMMENTNO, GROUPSEQ
	</select>
	
	<select id="selectOne" parameterType="int" resultType="CommentDto">
  		SELECT COMMENTNO, GROUPNO, GROPUSEQ, TITLETAB, FREEBOARDSEQ, USERID, COMMENTCONTENT, REGDATE
  		FROM COMMENTBOARD
  		WHERE COMMENTNO = #{commentno}
  	</select>
  	
  	<insert id="insert" parameterType="map">
  		INSERT INTO COMMENTBOARD
		(COMMENTNO,GROUPNO, GROUPSEQ,TITLETAB,FREEBOARDSEQ,USERID,COMMENTCONTENT,REGDATE)
  		VALUES(
			COMMENTNOSEQ.NEXTVAL, GROUPNOSEQ.NEXTVAL, 1, 0,
  			#{freeboardseq},
  			#{userid},
  			#{commentcontent},
  			SYSDATE
  		)
  	</insert>
  
  	<update id="update" parameterType="map">
  		UPDATE COMMENTBOARD
  		SET COMMENTCONTENT = #{commentcontent}
  		WHERE COMMENTNO = #{commentno}	
  	</update>
  	
  	<delete id="delete" parameterType="int">
  		DELETE FROM COMMENTBOARD
  		WHERE COMMENTNO = #{commentno}	
  	</delete>
  	
  	<insert id="answerInsert" parameterType="map">
  		INSERT INTO COMMENTBOARD
  		VALUES(
  				COMMENTNOSEQ.NEXTVAL,
  				(SELECT COMMENTNO FROM COMMENTBOARD WHERE COMMENTNO = #{commentno}),
				(SELECT GROUPSEQ FROM COMMENTBOARD WHERE COMMENTNO = #{commentno}) + 1,
				(SELECT TITLETAB +1 FROM COMMENTBOARD WHERE COMMENTNO = #{commentno} ),
				#{freeboardseq}, #{userid}, #{commentcontent}, SYSDATE		
  				)
  	</insert>
  	
  	
  	<update id="answerUpdate" parameterType="map">
  		UPDATE COMMENTBOARD
  		SET GROUPSEQ = GROUPSEQ +1
  		WHERE GROUPNO = (SELECT GROUPNO FROM COMMENTBOARD WHERE COMMENTNO = #{commentno})
  		AND GROUPSEQ > (SELECT GROUPSEQ FROM COMMENTBOARD WHERE COMMENTNO = #{commentno})
  	</update>
  	
</mapper>