.item {
	outline: 1px solid;
	cursor: pointer;
}
.answertext {
	margin-left : 20px;  
	display: none;
}
.answertext.on {
	display: block;
}
.updatetext {
	display: none;
}
.updatetext.on {
	display: block;
}
.contenttable {
	display: block;
}
.contenttable.on {
	dispaly: none;
}