<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.poosil.login.mapper">



<select id="selectList" resultType="loginDto">

SELECT USERID, PASSWORD,USEREMAIL,USERPHONE,ADDRESS,ADDRESSLATITUDE,ADDRESSLONGITUDE,USERROLE,SELLERSOPT,AVATAR,USERNICKNAME,USERNAME,USERENABLED
FROM MEMBERS


</select>

<select id="selectalluser" resultType="loginDto">
SELECT USERID, PASSWORD,USEREMAIL,USERPHONE,ADDRESS,ADDRESSLATITUDE,ADDRESSLONGITUDE,USERROLE,SELLERSOPT,AVATAR,USERNICKNAME,USERNAME,USERENABLED
FROM MEMBERS

</select>

<select id="login" parameterType="HashMap" resultType="loginDto">
SELECT USERID,USERROLE,USERENABLED
FROM MEMBERS 
WHERE USERID = #{userid} 
AND PASSWORD = #{password}
</select>

<select id="idcheck" parameterType="String" resultType="int">
SELECT COUNT(*)
FROM MEMBERS
WHERE USERID = #{userid}
</select>

<select id="emailcheck" parameterType="String" resultType="int">
SELECT COUNT(*)
FROM MEMBERS
WHERE USEREMAIL = #{useremail}
</select>

<select id="myinfo" parameterType="String" resultType="loginDto">
SELECT USERID,USEREMAIL,USERPHONE,ADDRESS,USERROLE,SELLERSOPT,AVATAR,USERNICKNAME,USERNAME
FROM MEMBERS
WHERE USERID = #{USERID}

</select>

<insert id="signup" parameterType="loginDto" >
INSERT INTO MEMBERS (USERID,PASSWORD,USEREMAIL,USERPHONE,ADDRESS,USERROLE,AVATAR,USERNAME,USERENABLED,USERNICKNAME) 
VALUES(#{userid},#{password},#{useremail},#{userphone},#{address},'USER',#{avatar}, #{username},'Y',#{usernickname})

</insert>

<update id="userupdate">
UPDATE MEMBERS
SET USERNAME=#{username}, USEREMAIL =#{useremail},USERPHONE = #{userphone},ADDRESS = #{address},AVATAR#{avatar}
WHERE USERID = #{userid}

</update>

<update id="userdelete">
UPDATE MEMBERS 
SET USERENABLED ='N'
WHERE USERID = #{userid}
</update>

<select id="enabledout">
SELECT USERID USERENABLED FROM MEMBERS
WHERE USERENABLED ='N';

</select>


</mapper>



















