.project_nav{ 
	padding:50px 0;
	width:90%;margin:0 auto;
}
.project_nav .col{text-align:center;}
.project_nav .col .project_nav_province{
	width:80px;height:80px;border-radius:50px;
	font-size:15px;font-weight:400;
	border:none;
}

.project_item{
	text-align:center;margin-bottom:40px;border:1px solid #eee;
}
.project_item .frame{
	display:inline-block;position:relative;width:200px;height:200px;overflow:hidden;
}
.project_item .frame img{
	position:absolute; left:0;top:0;bottom:0;min-width:100%;
	
}

.project_item .frame h2{
	font-size:18px;font-weight:400;position:absolute;
	left:20px;bottom:0;
	max-width:80%;

}

