<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projects-mapper">
	<select id="selectList" resultType="ProjectDto">
	SELECT 
		projectId,
		projectMainTitle, 
		projectSubTitle,
		thumbImage,
		goalPrice,
		projectCategory, 
		projectStartDate,
		projectEndDate
	FROM PROJECTS
	ORDER BY projectId DESC
	</select>
	<select id="selectOne" resultType="ProjectDto" parameterType="int">
	SELECT 
		projectId,
		projectMainTitle, 
		projectSubTitle,
		thumbImage,
		goalPrice,
		totalPrice,
		soldCount,
		likeCount,
		projectCategory,
		detailDesc, 
		projectStartDate,
		projectEndDate
		FROM PROJECTS 
		WHERE projectId = #{projectId}
	</select>
	<insert id="insertProject" parameterType="HashMap">
		<selectKey keyProperty="projectId" resultType="int" order="BEFORE">
			( SELECT PROJECT_SEQ.NEXTVAL FROM DUAL )
		</selectKey>
	
		INSERT INTO PROJECTS ( 
		projectId, 
		userId, 
		projectMainTitle, 
		projectSubTitle,
		thumbImage,
		goalPrice,
		projectCategory, 
		projectStartDate,
		projectEndDate,
		shippingStartDate,
		likeCount,
		soldCount,
		detailDesc,
		createdAt,
		updatedAt
		 ) VALUES (
			#{projectId}, 
			#{userId},
			#{projectMainTitle},
			#{projectSubTitle},
			#{thumbImage}, 
			#{goalPrice},
			#{projectCategory},
			#{projectStartDate}, 
			#{projectEndDate},
			#{shippingStartDate}, 
			0,
			0,
			#{detailDesc},
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<insert id="insertProjectItems" parameterType="java.util.List">
		INSERT INTO PROJECTITEM (projectItemSeq, projectItemName, projectItemDesc, shippingFee, quantity, thumbImage, projectId) VALUES 
		<foreach collection="list" item="item" separator=" , ">
		(
			PROJECT_ITEM_SEQ.NEXTVAL,
		 	#{item.projectItemName},
			#{item.projectItemDesc} ,
			#{item.shippingFee},
			#{item.quantity},
			#{item.thumbImage},
			#{item.projectId}
		) 
		</foreach>
	</insert>
	
	<select id="selectExistHashtags" parameterType="String" resultType="String"> 
		SELECT HASHTAGNAME FROM HASHTAG WHERE 
		HASHTAGNAME = #{hashtagName}
	</select>
	
	
	<insert id="insertHashtags" parameterType="String">
		INSERT INTO HASHTAG ( hashtagSeq , hashtagName ) VALUES
		(
			HASHTAG_SEQ.NEXTVAL,
			#{ hashtagName }
		)
	</insert>
		
	<insert id="insertProjectHashtags" parameterType="HashMap">
		INSERT INTO PROJECTHASHTAG (PROJECTHASHTAGSEQ, HASHTAGSEQ, PROJECTID ) VALUES (
			PROJECT_HASHTAG_SEQ.NEXTVAL , 
			(SELECT HASHTAGSEQ FROM HASHTAG WHERE HASHTAGNAME = #{ hashtagName } ),
			#{projectId}
		)
	</insert>
	
	<select id="selectProjectItems" parameterType="int" resultType="ProjectItemDto">
		SELECT 
			PROJECTITEMSEQ, PROJECTITEMNAME, PROJECTITEMDESC, SHIPPINGFEE, QUANTITY, THUMBIMAGE, PROJECTID, PRICE 
		FROM PROJECTITEM
		WHERE PROJECTID = #{projectId}
	</select>
	
	<select id="selectProjectHashtags" parameterType="int" resultType="HashtagDto" >
	SELECT HASHTAGNAME, HASHTAGSEQ FROM HASHTAG WHERE HASHTAGSEQ IN 
		(SELECT HASHTAGSEQ FROM PROJECTHASHTAG WHERE PROJECTID = #{projectId} )
	</select>
	
	<select id="selectProjectsWHashtags" parameterType="int" resultType="ProjectDto" >
	SELECT PROJECTID, PROJECTMAINTITLE FROM PROJECTS WHERE PROJECTID IN
		( SELECT PROJECTID FROM PROJECTHASHTAG WHERE HASHTAGSEQ = #{hashtagseq})
	</select>
</mapper>


















