<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main-mapper">
	<select id="selectTopLike" resultType="ProjectDto">
	SELECT PROJECTID, PROJECTMAINTITLE, LIKECOUNT FROM 
		( SELECT PROJECTID,PROJECTMAINTITLE, LIKECOUNT FROM PROJECTS ORDER BY LIKECOUNT DESC, CREATEDAT ASC ) 
	<![CDATA[where rownum <= 10]]>
	</select>
</mapper>